<main class="login-page">
  <section class="login-card">
    <form class="auth-form" (ngSubmit)="login()">
      <label>Email
        <input type="email" [(ngModel)]="loginEmail" name="loginEmail" placeholder="seu@email.com" required />
      </label>

      <label>Palavra-passe
        <input type="password" [(ngModel)]="loginPassword" name="loginPassword" placeholder="********" required />
      </label>

      <button class="auth-submit" type="submit" [disabled]="loading">
        {{ loading ? 'A processar...' : 'Entrar' }}
      </button>
    </form>
  </section>
</main>
